@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 900px;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    align-items: flex-end;
}

.head {
    text-align: right;
    width: 1700px;
    padding-top: 200px;
}

.title-head {
    font-size: 65px;
    font-family: 'poppins';
}

.short-text {
    width: 400px;
    text-align: right;
    padding-left: 1300px;
    font-family: 'arial';
    font-weight: 100;
    color: rgba(29, 29, 29, 0.616);
}

.Contact {
    margin-top: 20px;
    font-family: 'poppins';
    font-size: 15px;
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: rgb(241, 91, 34);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(241, 93, 34, 0.062);
    border: none;
}

.my-failures {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 50px 200px 50px 200px;
}

img {
    padding: 100px;
}

.main {
    align-items: center;
    padding-top: 200px;
    display: flexbox;
}

.text {
    width: 400px;
    font-size: 50px;
    font-family: 'poppins';
}

.short {
    padding-top: 20px;
    width: 400px;
    font-family: 'arial';
    font-weight: 100;
    color: rgba(29, 29, 29, 0.616);
}

ul,
li {
    padding-top: 10px;
    list-style: none;
    color: rgba(29, 29, 29, 0.616);
    font-family: Arial, Helvetica, sans-serif;
}

.fa-solid {
    color: rgb(2, 209, 2);
}

.my-plans {
    text-align: center;
}

h1 {
    font-size: 65px;
    font-family: 'poppins';
}

.main-box {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
}

.box {
    padding: 5px;
    padding-top: 50px;
    margin: 50px;
    box-sizing: border-box;
    width: 600px;
    height: 300px;
    background-color: rgba(247, 247, 247, 0.986);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.103);
}

:hover.box {
    transition: .8s ease-in-out;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.103);
}

.title {
    font-size: 25px;
}

.sub-title {
    padding-top: 5px;
    font-family: 'arial';
    font-weight: 100;
    color: rgba(29, 29, 29, 0.616);
}

.icon,
.fa-ban-smoking,
.fa-dumpster-fire {
    font-size: 80px;
    color: rgb(241, 91, 34);
}

.banner {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    height: 300px;
    background-image: linear-gradient(to right, rgba(255, 72, 0, 0.767), rgba(255, 255, 255, 0.73)), url('../images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-bottom: 100px;
}

.banner-h1 {
    text-align: left;
    color: #fff;
    width: 600px;
    font-family: 'poppins';
    font-size: 40px;
    padding: 20px;
}

.btn-call {
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'poppins';
    font-size: 20px;
    width: 150px;
    height: 50px;
    color: rgb(241, 91, 34);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(241, 93, 34, 0.062);
    border: none;
}

.site-footer {
    padding: 100px;
    max-width: 1800px;
    height: 600px;
    align-items: center;
    background-color: black;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    color: #fff;
    text-align: left;
    justify-content: space-between;
}

.row {
    float: left;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    margin-left: 100px;
}

h3 {
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'poppins';
}

.row-p {
    width: 400px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'poppins';
}

h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'poppins';
}

.social-icon {
    font-size: 30px;
}

.fa-facebook {
    color: #006AFF;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.fa-twitter {
    color: #1DA1F2;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.fa-youtube {
    color: #FF0000;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.row-1 {
    display: flexbox;
    align-items: center;
    padding: 50px 50px 50px 60px;
}

.sub {
    font-size: 40px;
    font-family: 'poppins';
}

.email {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    outline: none;
    height: 60px;
    width: 400px;
    margin: 30px 0 30px 0;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

.btn-sub {
    margin-top: 20px;
    font-family: 'poppins';
    font-size: 20px;
    width: 160px;
    height: 60px;
    color: rgb(241, 91, 34);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(241, 93, 34, 0.062);
    border: none;
}